#body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden; /* no scrollbar */
}

#inputsTable {
	position: absolute;
	top: 0;
	right: 0;
}

#canvas {
	background: #F3F1E9;
}

.hidden {
	display: none;
}
